.menu-top {
	list-style-type: none;
	margin-right: 28%;
}
.nav-top {
	float: right;
	margin-right: 10px;
	padding: 20px 20px 10px 20px;
	font-size: 16px;
}
.logo {
	padding-top: 10px;
	float: right;
}
.content-top{
	display: block;
	font-size: 20px;
	margin-right: 20px;
}
.content-btn {
	padding: 15px;
	min-width: 120px;
}

.content2 {
	background-color: #F5F5F5;
}
.content2-title {
	text-align: center;
	font-size: 20px;
}
.content-text {
	text-align: center;
	font-size: 14px;
}
.content2-btn {
	text-align: center;
	background-color: white;
	padding: 12px;
	border: 1px solid blue;
	width: 140px;
	color: blue;
}